In [3]:
import docker
import pandas as pd

def docker_to_dataframe():
    # Create a Docker client connected to the local Docker daemon
    client = docker.from_env()
    
    # Retrieve a list of images
    images = client.images.list()
    
    # Prepare data for DataFrame
    image_data = []
    for image in images:
        for tag in image.tags:
            repo, tag = tag.split(":") if ":" in tag else (tag, "latest")
            image_data.append({
                "REPOSITORY": repo,
                "TAG": tag,
                "IMAGE ID": image.id.split(":")[1][:12],
                "CREATED": image.attrs['Created'],
                "SIZE": image.attrs['Size']
            })
    
    # Create a DataFrame from the image data
    df1 = pd.DataFrame(image_data)
    
    containers = client.containers.list(all=True)
    
    # Prepare data for DataFrame
    container_data = []
    for container in containers:
        container_data.append({
            "CONTAINER ID": container.short_id,
            "IMAGE": container.image.tags[0] if container.image.tags else 'No tag',
            "COMMAND": container.attrs['Config']['Cmd'],
            "CREATED": container.attrs['Created'],
            "STATUS": container.status,
            "NAMES": container.name
        })
    
    # Create a DataFrame from the container data
    df2 = pd.DataFrame(container_data)
    
    return df1,df2

# Call the function and display the DataFrame
df1,df2 = docker_images_to_dataframe()

In [6]:
df1['IMAGE'] = df1['REPOSITORY']+":"+df1['TAG']

In [7]:
df1

,REPOSITORY,TAG,IMAGE ID,CREATED,SIZE,IMAGE
0,faris_test_v1,latest,8b887e727987,2024-09-18T10:25:19.179300017+03:00,823389415,faris_test_v1:latest
1,hello-world,latest,d2c94e258dcb,2023-05-02T16:49:27Z,13256,hello-world:latest

In [11]:
df2.merge(df1,on='IMAGE',how='left',suffixes=('_CONTAINER','_IMAGE'))

,CONTAINER ID,IMAGE,COMMAND,CREATED_CONTAINER,STATUS,NAMES,REPOSITORY,TAG,IMAGE ID,CREATED_IMAGE,SIZE
0,dae48ece0e90,hello-world:latest,[/hello],2024-09-18T11:46:21.250981946Z,exited,optimistic_wu,hello-world,latest,d2c94e258dcb,2023-05-02T16:49:27Z,13256
1,331b166feb1e,faris_test_v1:latest,"[uvicorn, main:app, --host, 0.0.0.0, --port, 8...",2024-09-18T07:25:29.215156412Z,exited,faris_test_v1,faris_test_v1,latest,8b887e727987,2024-09-18T10:25:19.179300017+03:00,823389415

In [2]:
import pandas as pd

data = pd.read_csv('test_data/child_data (5).csv')

In [5]:
data.sii

0       Moderate
1            NaN
2            NaN
3           Mild
4            NaN
          ...
3955        Mild
3956         NaN
3957        Mild
3958         NaN
3959         NaN
Name: sii, Length: 3960, dtype: object

In [32]:
import requests
import json

def get_no_entity(record):
   url = "http://0.0.0.0:8000/no_of_entities_forecast_model/predict"

   payload = json.dumps({
   "data": [
      record
   ]
   })
   headers = {
   'Content-Type': 'application/json'
   }

   response = requests.request("POST", url, headers=headers, data=payload)
   print(response.text)
   return response.json()['predictions'][0]

def get_no_objects(record):
   url = "http://0.0.0.0:8001/no_of_objects_forecast_model/predict"

   payload = json.dumps({
   "data": [
      record
   ]
   })
   headers = {
   'Content-Type': 'application/json'
   }

   response = requests.request("POST", url, headers=headers, data=payload)
   print(response.text)
   return response.json()['predictions'][0]

def get_no_learners(record):
   url = "http://0.0.0.0:8002/no_of_learners_forecast_model/predict"

   payload = json.dumps({
   "data": [
      record
   ]
   })
   headers = {
   'Content-Type': 'application/json'
   }

   response = requests.request("POST", url, headers=headers, data=payload)
   print(response.text)
   return response.json()['predictions'][0]

In [44]:
import pandas as pd
data = pd.read_csv('test_data/to_forecast.csv')

In [45]:
data = data.to_dict('records')

In [46]:
for i in range(6):
    last_date_record = data[-1].copy()
    print(last_date_record)
    del last_date_record['year']
    del last_date_record['No_Of_Entities']
    del last_date_record['No_Of_Objects']
    del last_date_record['No_Of_Learners']
    last_date_record = {}
    last_date_record['month'] = data[-1]['month']+1
    if last_date_record['month'] > 12:
        last_date_record['month'] = last_date_record['month'] - 12
    last_date_record['month_lag_1'] = data[-1]['month']
    last_date_record['month_lag_2'] = data[-1]['month_lag_1']
    last_date_record['month_lag_3'] = data[-1]['month_lag_2']
    last_date_record['month_lag_4'] = data[-1]['month_lag_3']
    last_date_record['No_Of_Entities_lag_1'] = data[-1]['No_Of_Entities']
    last_date_record['No_Of_Objects_lag_1'] = data[-1]['No_Of_Objects']
    last_date_record['No_Of_Learners_lag_1'] = data[-1]['No_Of_Learners']
    last_date_record['No_Of_Entities_lag_2'] = data[-1]['No_Of_Entities_lag_1']
    last_date_record['No_Of_Objects_lag_2'] = data[-1]['No_Of_Objects_lag_1']
    last_date_record['No_Of_Learners_lag_2'] = data[-1]['No_Of_Learners_lag_1']
    last_date_record['No_Of_Entities_lag_3'] = data[-1]['No_Of_Entities_lag_2']
    last_date_record['No_Of_Objects_lag_3'] = data[-1]['No_Of_Objects_lag_2']
    last_date_record['No_Of_Learners_lag_3'] = data[-1]['No_Of_Learners_lag_2']
    last_date_record['No_Of_Entities_lag_4'] = data[-1]['No_Of_Entities_lag_3']
    last_date_record['No_Of_Objects_lag_4'] = data[-1]['No_Of_Objects_lag_3']
    last_date_record['No_Of_Learners_lag_4'] = data[-1]['No_Of_Learners_lag_3']
    en = get_no_entity(last_date_record)
    obj = get_no_objects(last_date_record)
    lrs =get_no_learners(last_date_record)
    last_date_record['No_Of_Entities'] = en
    last_date_record['No_Of_Objects'] = obj
    last_date_record['No_Of_Learners'] = lrs
    last_date_record['year'] = 2025
    data.append(last_date_record)

{'year': 2024, 'month': 10, 'No_Of_Entities': 160.0, 'No_Of_Objects': 2862.0, 'No_Of_Learners': 40151.0, 'date': '2024-10-01', 'month_lag_1': 9, 'No_Of_Entities_lag_1': 166.0, 'No_Of_Objects_lag_1': 3439.0, 'No_Of_Learners_lag_1': 47209.0, 'month_lag_2': 8, 'No_Of_Entities_lag_2': 226.0, 'No_Of_Objects_lag_2': 3265.0, 'No_Of_Learners_lag_2': 43249.0, 'month_lag_3': 7, 'No_Of_Entities_lag_3': 153.0, 'No_Of_Objects_lag_3': 2092.0, 'No_Of_Learners_lag_3': 20024.0, 'month_lag_4': 6, 'No_Of_Entities_lag_4': 132.0, 'No_Of_Objects_lag_4': 1912.0, 'No_Of_Learners_lag_4': 25885.0}
{"predictions":[220.78385198196236]}
{"predictions":[2680.4285714285716]}
{"predictions":[42578.2]}
{'month': 11, 'month_lag_1': 10, 'month_lag_2': 9, 'month_lag_3': 8, 'month_lag_4': 7, 'No_Of_Entities_lag_1': 160.0, 'No_Of_Objects_lag_1': 2862.0, 'No_Of_Learners_lag_1': 40151.0, 'No_Of_Entities_lag_2': 166.0, 'No_Of_Objects_lag_2': 3439.0, 'No_Of_Learners_lag_2': 47209.0, 'No_Of_Entities_lag_3': 226.0, 'No_Of_Objects_lag_3': 3265.0, 'No_Of_Learners_lag_3': 43249.0, 'No_Of_Entities_lag_4': 153.0, 'No_Of_Objects_lag_4': 2092.0, 'No_Of_Learners_lag_4': 20024.0, 'No_Of_Entities': 220.78385198196236, 'No_Of_Objects': 2680.4285714285716, 'No_Of_Learners': 42578.2, 'year': 2025}
{"predictions":[230.92122721174894]}
{"predictions":[2782.0]}
{"predictions":[42578.2]}
{'month': 12, 'month_lag_1': 11, 'month_lag_2': 10, 'month_lag_3': 9, 'month_lag_4': 8, 'No_Of_Entities_lag_1': 220.78385198196236, 'No_Of_Objects_lag_1': 2680.4285714285716, 'No_Of_Learners_lag_1': 42578.2, 'No_Of_Entities_lag_2': 160.0, 'No_Of_Objects_lag_2': 2862.0, 'No_Of_Learners_lag_2': 40151.0, 'No_Of_Entities_lag_3': 166.0, 'No_Of_Objects_lag_3': 3439.0, 'No_Of_Learners_lag_3': 47209.0, 'No_Of_Entities_lag_4': 226.0, 'No_Of_Objects_lag_4': 3265.0, 'No_Of_Learners_lag_4': 43249.0, 'No_Of_Entities': 230.92122721174894, 'No_Of_Objects': 2782.0, 'No_Of_Learners': 42578.2, 'year': 2025}
{"predictions":[219.08477988208423]}
{"predictions":[2660.857142857143]}
{"predictions":[42578.2]}
{'month': 1, 'month_lag_1': 12, 'month_lag_2': 11, 'month_lag_3': 10, 'month_lag_4': 9, 'No_Of_Entities_lag_1': 230.92122721174894, 'No_Of_Objects_lag_1': 2782.0, 'No_Of_Learners_lag_1': 42578.2, 'No_Of_Entities_lag_2': 220.78385198196236, 'No_Of_Objects_lag_2': 2680.4285714285716, 'No_Of_Learners_lag_2': 42578.2, 'No_Of_Entities_lag_3': 160.0, 'No_Of_Objects_lag_3': 2862.0, 'No_Of_Learners_lag_3': 40151.0, 'No_Of_Entities_lag_4': 166.0, 'No_Of_Objects_lag_4': 3439.0, 'No_Of_Learners_lag_4': 47209.0, 'No_Of_Entities': 219.08477988208423, 'No_Of_Objects': 2660.857142857143, 'No_Of_Learners': 42578.2, 'year': 2025}
{"predictions":[241.55159768423562]}
{"predictions":[2686.857142857143]}
{"predictions":[42578.2]}
{'month': 2, 'month_lag_1': 1, 'month_lag_2': 12, 'month_lag_3': 11, 'month_lag_4': 10, 'No_Of_Entities_lag_1': 219.08477988208423, 'No_Of_Objects_lag_1': 2660.857142857143, 'No_Of_Learners_lag_1': 42578.2, 'No_Of_Entities_lag_2': 230.92122721174894, 'No_Of_Objects_lag_2': 2782.0, 'No_Of_Learners_lag_2': 42578.2, 'No_Of_Entities_lag_3': 220.78385198196236, 'No_Of_Objects_lag_3': 2680.4285714285716, 'No_Of_Learners_lag_3': 42578.2, 'No_Of_Entities_lag_4': 160.0, 'No_Of_Objects_lag_4': 2862.0, 'No_Of_Learners_lag_4': 40151.0, 'No_Of_Entities': 241.55159768423562, 'No_Of_Objects': 2686.857142857143, 'No_Of_Learners': 42578.2, 'year': 2025}
{"predictions":[273.15401031336273]}
{"predictions":[2803.714285714286]}
{"predictions":[42578.2]}
{'month': 3, 'month_lag_1': 2, 'month_lag_2': 1, 'month_lag_3': 12, 'month_lag_4': 11, 'No_Of_Entities_lag_1': 241.55159768423562, 'No_Of_Objects_lag_1': 2686.857142857143, 'No_Of_Learners_lag_1': 42578.2, 'No_Of_Entities_lag_2': 219.08477988208423, 'No_Of_Objects_lag_2': 2660.857142857143, 'No_Of_Learners_lag_2': 42578.2, 'No_Of_Entities_lag_3': 230.92122721174894, 'No_Of_Objects_lag_3': 2782.0, 'No_Of_Learners_lag_3': 42578.2, 'No_Of_Entities_lag_4': 220.78385198196236, 'No_Of_Objects_lag_4': 2680.4285714285716, 'No_Of_Learners_lag_4': 42578.2, 'No_Of_Entities': 273.15401031336273, 'No_Of_Objects': 2803.714285714286, 'No_Of_Learners': 42578.2, 'year': 2025}
{"predictions":[284.83267602876384]}
{"predictions":[2782.0]}
{"predictions":[38829.1]}

In [49]:
pd.DataFrame(data)[['year','month','No_Of_Entities','No_Of_Objects','No_Of_Learners']].to_csv('/home/faris1/Desktop/forecasted_lrs_data.csv',index=False)

In [50]:
pd.DataFrame(data)

,year,month,No_Of_Entities,No_Of_Objects,No_Of_Learners,date,month_lag_1,No_Of_Entities_lag_1,No_Of_Objects_lag_1,No_Of_Learners_lag_1,...,No_Of_Objects_lag_2,No_Of_Learners_lag_2,month_lag_3,No_Of_Entities_lag_3,No_Of_Objects_lag_3,No_Of_Learners_lag_3,month_lag_4,No_Of_Entities_lag_4,No_Of_Objects_lag_4,No_Of_Learners_lag_4
0,2022,12,30.000000,298.000000,1764.0,2022-12-01,11,29.000000,325.000000,2567.0,...,590.000000,9202.0,9,21.000000,339.000000,2062.0,8,4.000000,4.000000,6.0
1,2023,1,47.000000,2739.000000,17705.0,2023-01-01,12,30.000000,298.000000,1764.0,...,325.000000,2567.0,10,34.000000,590.000000,9202.0,9,21.000000,339.000000,2062.0
2,2023,2,39.000000,4663.000000,12598.0,2023-02-01,1,47.000000,2739.000000,17705.0,...,298.000000,1764.0,11,29.000000,325.000000,2567.0,10,34.000000,590.000000,9202.0
3,2023,3,49.000000,3641.000000,17576.0,2023-03-01,2,39.000000,4663.000000,12598.0,...,2739.000000,17705.0,12,30.000000,298.000000,1764.0,11,29.000000,325.000000,2567.0
4,2023,4,47.000000,2189.000000,9224.0,2023-04-01,3,49.000000,3641.000000,17576.0,...,4663.000000,12598.0,1,47.000000,2739.000000,17705.0,12,30.000000,298.000000,1764.0
5,2023,5,65.000000,2061.000000,12100.0,2023-05-01,4,47.000000,2189.000000,9224.0,...,3641.000000,17576.0,2,39.000000,4663.000000,12598.0,1,47.000000,2739.000000,17705.0
6,2023,6,65.000000,1534.000000,10529.0,2023-06-01,5,65.000000,2061.000000,12100.0,...,2189.000000,9224.0,3,49.000000,3641.000000,17576.0,2,39.000000,4663.000000,12598.0
7,2023,7,87.000000,1044.000000,8286.0,2023-07-01,6,65.000000,1534.000000,10529.0,...,2061.000000,12100.0,4,47.000000,2189.000000,9224.0,3,49.000000,3641.000000,17576.0
8,2023,8,84.000000,1553.000000,8643.0,2023-08-01,7,87.000000,1044.000000,8286.0,...,1534.000000,10529.0,5,65.000000,2061.000000,12100.0,4,47.000000,2189.000000,9224.0
9,2023,9,77.000000,1901.000000,12504.0,2023-09-01,8,84.000000,1553.000000,8643.0,...,1044.000000,8286.0,6,65.000000,1534.000000,10529.0,5,65.000000,2061.000000,12100.0
10,2023,10,85.000000,2352.000000,12908.0,2023-10-01,9,77.000000,1901.000000,12504.0,...,1553.000000,8643.0,7,87.000000,1044.000000,8286.0,6,65.000000,1534.000000,10529.0
11,2023,11,80.000000,1807.000000,7829.0,2023-11-01,10,85.000000,2352.000000,12908.0,...,1901.000000,12504.0,8,84.000000,1553.000000,8643.0,7,87.000000,1044.000000,8286.0
12,2023,12,103.000000,2380.000000,18897.0,2023-12-01,11,80.000000,1807.000000,7829.0,...,2352.000000,12908.0,9,77.000000,1901.000000,12504.0,8,84.000000,1553.000000,8643.0
13,2024,1,91.000000,1965.000000,10306.0,2024-01-01,12,103.000000,2380.000000,18897.0,...,1807.000000,7829.0,10,85.000000,2352.000000,12908.0,9,77.000000,1901.000000,12504.0
14,2024,2,105.000000,2147.000000,11732.0,2024-02-01,1,91.000000,1965.000000,10306.0,...,2380.000000,18897.0,11,80.000000,1807.000000,7829.0,10,85.000000,2352.000000,12908.0
15,2024,3,132.000000,2965.000000,15928.0,2024-03-01,2,105.000000,2147.000000,11732.0,...,1965.000000,10306.0,12,103.000000,2380.000000,18897.0,11,80.000000,1807.000000,7829.0
16,2024,4,142.000000,3091.000000,15490.0,2024-04-01,3,132.000000,2965.000000,15928.0,...,2147.000000,11732.0,1,91.000000,1965.000000,10306.0,12,103.000000,2380.000000,18897.0
17,2024,5,154.000000,2813.000000,19867.0,2024-05-01,4,142.000000,3091.000000,15490.0,...,2965.000000,15928.0,2,105.000000,2147.000000,11732.0,1,91.000000,1965.000000,10306.0
18,2024,6,132.000000,1912.000000,25885.0,2024-06-01,5,154.000000,2813.000000,19867.0,...,3091.000000,15490.0,3,132.000000,2965.000000,15928.0,2,105.000000,2147.000000,11732.0
19,2024,7,153.000000,2092.000000,20024.0,2024-07-01,6,132.000000,1912.000000,25885.0,...,2813.000000,19867.0,4,142.000000,3091.000000,15490.0,3,132.000000,2965.000000,15928.0
20,2024,8,226.000000,3265.000000,43249.0,2024-08-01,7,153.000000,2092.000000,20024.0,...,1912.000000,25885.0,5,154.000000,2813.000000,19867.0,4,142.000000,3091.000000,15490.0
21,2024,9,166.000000,3439.000000,47209.0,2024-09-01,8,226.000000,3265.000000,43249.0,...,2092.000000,20024.0,6,132.000000,1912.000000,25885.0,5,154.000000,2813.000000,19867.0
22,2024,10,160.000000,2862.000000,40151.0,2024-10-01,9,166.000000,3439.000000,47209.0,...,3265.000000,43249.0,7,153.000000,2092.000000,20024.0,6,132.000000,1912.000000,25885.0
23,2025,11,220.783852,2680.428571,42578.2,NaN,10,160.000000,2862.000000,40151.0,...,3439.000000,47209.0,8,226.000000,3265.000000,43249.0,7,153.000000,2092.000000,20024.0
24,2025,12,230.921227,2782.000000,42578.2,NaN,11,220.783852,2680.428571,42578.2,...,2862.000000,40151.0,9,166.000000,3439.000000,47209.0,8,226.000000,3265.000000,43249.0
25,2025,1,219.084780,2660.857143,42578.2,NaN,12,230.921227,2782.000000,42578.2,...,2680.428571,42578.2,10,160.000000,2862.000000,40151.0,9,166.000000,3439.000000,47209.0
26,2025,2,241.551598,2686.857143,42578.2,NaN,1,219.084780,2660.857143,42578.2,...,2782.000000,42578.2,11,220.783852,2680.428571,42578.2,10,160.000000,2862.000000,40151.0
27,2025,3,273.154010,2803.714286,42578.2,NaN,2,241.551598,2686.857143,42578.2,...,2660.857143,42578.2,12,230.921227,2782.000000,42578.2,11,220.783852,2680.428571,42578.2
28,2025,4,284.832676,2782.000000,38829.1,NaN,3,273.154010,2803.714286,42578.2,...,2686.857143,42578.2,1,219.084780,2660.857143,42578.2,12,230.921227,2782.000000,42578.2

In [52]:
"(hi)".index(")")

3